body{
  margin: 0;
  font-family: sans-serif;
}

.navegacion{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100px;
  width: 100%;
  border-bottom: 1px solid black;
  position: fixed;
color: white;
  position: fixed;
}

.logo img{
  max-width: 100px;
  max-height: 150px;
  margin-left: 50px;
}

.links{
  margin-right: 50px;
}

.links a{
  text-decoration: none;
  color: black;
  margin-right: 10px;
  font-size: 20px;
}

.links a:hover{
  color: red;
}
.boton {
  color: white;
  font-family: sans-serif;
  border: none;
list-style-type: none;
}
.navegacion:hover {
  color: white;
}
#item-usuario {
  color: white;
  font-weight: lighter;
font-family: sans-serif;
margin-top: 10px;
font-size: 18px;
}
