.display-none{
  display: none;
}
body {
  background-color: black;
  color: white;
  list-style-type: none;
  font-weight: lighter;
  font-family: sans-serif;


  height:100%;
}

ul {
  list-style-type: none;
}


/* Telefono */
@media (min-width: 421px) and (max-width: 810px){
	li {
		color: yellow;
	}
