body {
  background-color: black;
  color: yellow;

  height:100vh;
}

.home{
  background-color: black;
  color: yellow;
}

.cartelera{
  background-color: black;
  color: yellow;
}

.proximamente{
  background-color: black;
  color: yellow;
}

.puntaje{
  background-color: black;
  color: yellow;
}

#destacadas{
  color: yellow;
}
#proximamente{
    color: yellow;
}
#mayorPuntaje{
    color: yellow;
}

#cartelera{
    color: yellow;
}

footer{
  display: flex;
  justify-content: space-around;
  width: 100%;

}

footer img{
  max-width: 50px;
  max-height: 50px;
}

footer p{
  font-size: 10px;
}

/* Log Out */

/* Log Out */

@media only screen (min-width: 200px) and (max-width: 810px){

#cartelera h1{
  text-align: center;
  font-size: 2000px;
}

}
