body {
  background-color: black;
  color: yellow;
}

.home{
  background-color: black;
  color: yellow;
}

.cartelera{
  background-color: black;
  color: yellow;
}

.proximamente{
  background-color: black;
  color: yellow;
}
