body {
  background-color: black;
  color: yellow;
}

.home{
  background-color: black;
  color: yellow;
}

.cartelera{
  background-color: black;
  color: yellow;
}

.proximamente{
  background-color: black;
  color: yellow;
}

.puntaje{
  background-color: black;
  color: yellow;
}



/*NO FUNCIONA EL HOME.CSS PQ HAY ALGO QUE LO PISA /*
/* FRANCESCA PEN /*

Misterio
Romance
Ciencia Ficcion
Misterio
Terror
War

Thriller
