.form{
  background-color: black;
  color: black;
}
body {
  background-color: black;
}

.form{
  background-color: black;
  color: yellow;

}

.titulo{
  color: yellow;
  font-style:
}
.subt{
  color: yellow;
  font-style: oblique;

}

input:hover{
  border: 2px red;
}

input:focus{
  border: 2px blue;
}
